.qiniup-header {
  display: block;
  height: em(52px);
  background-color: $primary-color;
  box-shadow: 0 em(2px) em(5px) 0 rgba(0,0,0,.16), 0 em(2px) em(10px) 0 rgba(0,0,0,.12);
  transition: .25s ease-out;

  .qiniup-hero {
    display: block;
    margin: 0;
    padding: em(10px) 0;
    text-align: center;
    font-size: em(21px);
    font-weight: normal;
    font-style: normal;
    color: #fff;
    cursor: default;
    user-select: none;
  }
}

.qiniup-footer {
  position: absolute;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.qiniup-footer-body {
  display: block;
  margin: 0 auto;
  border-top: em(1px) solid #d3d3d3;
  max-width: em(1000px);

  p {
    margin: em(40px, 13px) 0;
    text-align: center;
    font-size: em(13px);
    color: #999;
  }

  a {
    display: inline;
    color: $link-color;
    font-size: em(13px);
    font-weight: 500;
    cursor: pointer;
  }
}

