$primary-color: #59C0DF;
$secondary-color: #3EABCA;
$success-color: #28C993;
$error-color: #E74C3C;
$link-color: #08AAC7;
$context-normal-color: #333;
$root-font-size: 16px;
$context-base-size: em(16px);
